* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image/background\ image.png);
    /* height: 100%;
        min-height: 100%; */
        /* line-height: 1.6; */
}
header{
    display: block;
    padding: 10px 20px;
    justify-content: space-between;
}
nav{
    display: block;
    padding-right:  20px;
    margin-right: 20px;
    justify-content: flex-end;
    margin: 50px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: block;
    margin: 0 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: bold;
    float: right;
}
nav img{
    float:left;
    top: 10px;
    width: 167px;
    height: auto;
}
.mainpage {
    margin: 20px;
    text-align: center;
    align-items: center;
}
.mainpage div h1 {
    margin: 30px;
    color: #fff;
    text-align: center;
    font-size: bold;
    font-size: 120px;
}
.mainpage span,
.mainpage button {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: bold;
}
.mainpage span{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: bold;
    color: #fff;

}
.mainpage button{
    display: block;
    background-color: #C271FF;
    color: #fff;
    width: 150px;
    border-color: #fff;
    border-radius:   20px;
    margin: 20px auto;
    font-size: 14px;
}
.mainpage div h2 span {
    color: #C271FF;
}

.mainpage div h2 {
    margin: 50px;
    color: #fff;
    font-family: Source Sans Pro;
}
.author{
    display: flex;
    text-align: center;
    margin: 40px;
    color: #fff;
    width: 50px;
   
}

 .author p {
    display: block;
    width:400px ;
    height: 237px;
    top: 758px;
    left: 217px;
    text-align: center;
    align-items: center;
    font-style: italic;
}
.person {
    background-color: #C271FF;
    display: flex; 
    width: 100%;
    height: 100;
}
.person image {
   margin-right: 10px;
    Width: 30px;
        Height: 30px;
        Top: 261px;
        Left: 13px;
}

.person {
    blockquote {
        display: inline-block;
        margin-top: 10px;
        text-align: left;
        color: #fff;
    }

    h3,
    p {
        text-align: left;
        color: #fff;
}
}
.person,
.popular {
    margin: 0;
}
.popular{
    background-color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .popular_main{
    display: flex;
        text-align: center;
        margin: 10px;
 }
.popular h2 span {
    color: #C271FF;
}
.popular h2 {
    font-weight: normal;
    font-size: 32px;
    margin-top: 30px;
    text-align: center;
    margin: 0 ;

}  
.popular div i {
    display: block;
    color: #C271FF;
    margin-right: 5px;
    float: left;
}
.popular p {

    width: 400px;
    height: 237px;
    top: 758px;
    left: 217px;
    text-align: center;
    align-items: center;
}
 .diagonal div img{
    float: left;
    Width: 30px ;
    Height: 30px ;
    Top: 261px;
    Left: 13px;
}

.happy div img{
    float: left;
    Width: 30px;
        Height: 30px;
        Top: 261px;
        Left: 13px;
}
.natural div img {
    Width: 30px;
    Height: 30px;
    Top: 261px;
    Left: 13px;
}
.sad div img {
    Width: 30px;
    Height: 30px;
    Top: 261px;
    Left: 13px;
} 

.diagonal, .happy, .sad, .natural {
    h4{
        color: #C271FF;
        float:none;
        display: inline-block;
        margin: 0%;
    }
    p{
        /* color: #C271FF; */
        display: block;
    }
    img{
        display: block;
        margin: 0px;
    }
}
.popular,
.member {
    margin: 0;
}
.member{
    display: block;
    color: #fff;
   text-align: center;
   background-color:#071629 ;
   /* margin:10px; */
   width:100%;
   height: 100%;

}
.membership{
    display: flex;
    color: #fff;
    margin: 40px;
}
.member button{
    display: block;
    background-color: #C271FF;
    width: 150px;
    height: 44px;
    border-radius: 20px;
    margin: 20px auto;
    font-size: 14px;
}
.FAQ{
    background-color: #fff;
    text-align: center;
}
.container {
    margin-bottom: 40px;
    margin-top: 30px;
    display: flex;
}
.container_2{
    margin-bottom: 40px;
    /* margin-top: 30px; */
    display: block;
}
.container div {
    margin-bottom: 20px;
}

.container_2 div {
    margin-bottom: 20px;
}
.container, .container_2 div{
    color: #071629;
    font: Source Sans Pro;
}
footer, .FAQ{
    margin:0;
}
footer{
    background-color: #071629;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
}
footer img{
    float: left;
}
footer div i {
    background-color: #fff;
    float: right;
    margin: 0 20px;
}
footer p{
    margin-top: 10px;
    color: #fff;
}
