* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image/background\ image.png);
    /* height: 100%;
        min-height: 100%; */
}
header{
    display: block;
    padding: 10px 20px;
    justify-content: space-between;
}
nav{
    display: block;
    padding-right:  20px;
    margin-right: 20px;
    justify-content: flex-end;
    margin: 50px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: block;
    margin: 0 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: bold;
    float: right;
}
nav img{
    float:left;
    top: 10px;
    width: 167px;
    height: auto;
}
main section {
    margin: 20px;
    text-align: center;
    align-items: center;
}
main section div h1 {
    margin: 30px;
    color: #fff;
    text-align: center;
    font-size: bold;
    font-size: 120px;
}
main section span,
main section button {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: bold;
}
main section span{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: bold;
    color: #fff;

}
main section button{
    display: block;
    background-color: #C271FF;
    color: #fff;
    width: 150px;
    border-color: #fff;
    border-radius:   20px;
    margin: 20px auto;
    font-size: 14px;
}
.author{
    display: flex;
    text-align: center;
    margin: 40px;
    color: #fff;
   
}

 p {
    display: block;
    width:400px ;
    height: 237px;
    top: 758px;
    left: 217px;
    text-align: center;
    align-items: center;
    font-style: italic;
}
main section div h2 span {
   color: #C271FF;
}
main section div h2 {
    margin: 50px;
    color: #fff;
    font-family: Source Sans Pro;
}
.person {
    background-color: #C271FF;
    display: flex; 
    width: 100%;
}
.person image {
   margin-right: 10px;
}

.person {
    blockquote {
        display: inline-block;
        margin-top: 10px;
        text-align: left;
        color: #fff;
    }

    h3,
    p {
        text-align: left;
        color: #fff;
}
}
.person,
.popular {
    margin: 0;
}
.popular{
    background-color: #fff;
    /* display: flex; */
 }
    

.popular h2 span {
    color: #C271FF;
}
.popular h2 {
    font-weight: normal;
    font-size: 32px;
    margin-top: 30px;
}  

.popular div {
    display: flex;
    /* margin: 30px; */
    text-align: center;
    /* color: #fff; */
}

/* .popular{
    background-color: #fff;
    display: block;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    
}
.popular h2 span{
    color: #C271FF;
}
/* .popular h2{
font-weight: normal;
font-size: 32px;
}
.popular_image {
    margin: 30px;
}  */
