* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image/background\ image.png);
    /* height: 100%;
        min-height: 100%; */
}
header{
    display: block;
    padding: 10px 20px;
    justify-content: space-between;
}
nav{
    display: block;
    padding-right:  20px;
    margin-right: 20px;
    justify-content: flex-end;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: block;
    margin: 0 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: bold;
    float: right;
}
nav img{
    float:left;
    top: 10px;
    width: 167px;
    height: auto;
}
main section {
    margin: 20px;
    text-align: center;
    align-items: center;
}
main section div h1 {
    color: #fff;
    text-align: center;
    font-size: bold;
    font-size: 120px;
}
main section span,
main section button {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: bold;
}
main section span{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: bold;
}
main section button{
    display: block;
    background-color: #C271FF;
    color: #fff;
    width: 150px;
    border-color: #fff;
    border-radius:   20px;
    margin: 20px auto;
}
.author{
    display: flex;
    text-align: center;
    margin: 40px;
}
.author div{

}


